

<% if @user.errors.any? %>
  <p> there wre some errors:</p>
  <ul>
    <%# binding.pry %>
    <% @user.errors.full_messages.each do |message| %>
      <li><%=	 message %></li>
      <%	 end %>
  </ul>
<% end %>

<%= form_for @user do |f|  %>
  <%=	 f.label :name %>
  <%=	 f.text_field :name %>
  <div class="field <%= 'field_with_errors' if @user.errors[:password_confirmation].any? %>">
    <%=	 f.label :password %>
    <%=	 f.password_field :password %>
    <%=	 f.label :password_confirmation %>
    <%=	 f.password_field :password_confirmation %>
  </div>
  <%=	 f.submit %>

<% end %>